<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Portal</title>
    <link rel="stylesheet" href="/static/client/css/style.css">
</head>
<body>
    <div id="root">
        <h1>Welcome to Client Portal</h1>
        <!-- Your client application content will be rendered here -->
    </div>    <script src="/static/client/js/fetch-utils.js"></script>
    <script src="/static/client/js/main.js"></script>
</body>
</html>
